<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Add Appointment</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Appointment</a>
            </li>
            <li class="breadcrumb-item active">Add</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Appointment</h2>
          </div>
          <div class="body">
            <form class="example-form">

              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                <h1>Chức năng</h1>
                <button type="button" class="btn btn-primary" style="margin-right: 20px;">Submit</button>
                <button type="button" class="btn btn-secondary" style="margin-right: 20px;">Reset</button>
                <button type="button" class="btn btn-light" style="margin-right: 20px;">Thoát</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
